#
# Env variables for cah
#

# Node
NODE_PORT=5000
NODE_ENV=production
NODE_COMMAND=npm start
# Set to <your-domain>:port
# Local testing example: localhost:5000
# Production server example: <domain>:443
NODE_SERVER_ADDR=localhost:5000

# PostgreSQL (don't change these unless you know what you're doing)
PG_USER=cah
PG_HOST=postgres
PG_PORT=5432
PG_PASSWORD=__PLACEHOLDER__

# Path to cah files
CAH_DIR=./
DATA_STORE=./data
DUMP_DIR=./export

# Docker
DOCKER_RESTART=unless-stopped
