<main>

  <div class="card-row">

    <div class="card black">
      You say tomato, I say _____.
    </div>

  </div>

  <div class="card-row my-cards">

    <div class="card">
      Land mines.
    </div>

    <div class="card">
      Harnesing the power of the atom to slaughter 200,000 Japanese people.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

  </div>

  <div class="players">

    <!-- <span class="header">Players:</span> -->

    <div class="player">
      <fa-icon class="host" [icon]="['fas', 'crown']"></fa-icon> <!-- Game host -->
      <span>chrome</span>
      <fa-icon class="check" [icon]="['fas', 'check']"></fa-icon> <!-- Done, waiting for other players -->
      <fa-icon class="wizard" [icon]="['fas', 'hat-wizard']"></fa-icon> <!-- Cards czar -->
      <fa-icon class="flag" [icon]="['fas', 'flag-checkered']"></fa-icon> <!-- Winner icon -->
    </div>

    <div class="player">
      <fa-icon class="user" [icon]="['fas', 'user']"></fa-icon> <!-- Regular user -->
      <span class="czar">chrome</span> <!-- Add class 'czar' to the card czar -->
      <fa-icon class="check" [icon]="['fas', 'check']"></fa-icon>
      <fa-icon class="wizard" [icon]="['fas', 'hat-wizard']"></fa-icon>
      <fa-icon class="flag" [icon]="['fas', 'flag-checkered']"></fa-icon>
    </div>

    <div class="player">
      <fa-icon class="user" [icon]="['fas', 'user']"></fa-icon>
      <span>chrome</span>
      <fa-icon class="check" [icon]="['fas', 'check']"></fa-icon>
      <fa-icon class="wizard" [icon]="['fas', 'hat-wizard']"></fa-icon>
      <fa-icon class="flag" [icon]="['fas', 'flag-checkered']"></fa-icon>
    </div>

    <div class="player">
      <fa-icon class="user" [icon]="['fas', 'user']"></fa-icon>
      <span>chrome</span>
      <fa-icon class="check" [icon]="['fas', 'check']"></fa-icon>
      <fa-icon class="wizard" [icon]="['fas', 'hat-wizard']"></fa-icon>
      <fa-icon class="flag" [icon]="['fas', 'flag-checkered']"></fa-icon>
    </div>

    <div class="player">
      <fa-icon class="user" [icon]="['fas', 'user']"></fa-icon>
      <span>chrome</span>
      <fa-icon class="check" [icon]="['fas', 'check']"></fa-icon>
      <fa-icon class="wizard" [icon]="['fas', 'hat-wizard']"></fa-icon>
      <fa-icon class="flag" [icon]="['fas', 'flag-checkered']"></fa-icon>
    </div>

  </div>

  <div>

    <div>
      <button>Select</button>
      <!-- TODO: view settings for players, open settings for game host -->
      <button (click)="open=!open">Open settings</button>
    </div>

    <div class="info">
      <p>Cards Selected: 1/3</p>
      <p>Waiting for Players: 2/3</p>
    </div>

  </div>

  <app-in-game-settings *ngIf="open" [settings]="settings" (close)="open=!open"></app-in-game-settings>

</main>
