main {

  padding: 20px;
  padding-top: 0;

  .card-row {
    width: 100%;
    height: 250px;
    overflow-x: auto;
    // margin-bottom: 30px;
    white-space: nowrap;

    .played-cards {

      overflow-y: hidden;

      .collection {
        display: inline-block;
        vertical-align: middle;
        white-space: initial;
        margin-bottom: 0;
        float: none;
        height: 234px;
        width: calc(200px + 20px + 16px + 16px + 2px);

        &:hover > .card, &.selected>.card {
          background-color: #ddd;
        }

        &.winner>.card {
          background-color: #94d82d;
        }

        .card {
          transition: margin .2s ease-in-out, background-color 0.1s ease-in-out;
          text-transform: capitalize;
          // background-color: #fff;
          &>small {
            font-size: 8pt;
            display: block;
            margin-top: .5em;
          }
        }

        .card:nth-child(1):hover {
          margin-bottom: 180px;
        }

        .card:nth-child(2) {
          margin-top: calc(-200px - 32px - 2px + 70px);
          &:hover {
            margin-top: calc(-200px - 32px - 2px);
            margin-bottom: 240px;
          }
        }

        .card:nth-child(3) {
          margin-top: calc(-200px - 32px - 2px + 70px);
          &:hover {
            margin-top: -304px;
          }
        }

        &:last-of-type {
          width: 234px;
          .card {
            margin-right: 0;
          }
        }

      }

    }

    .card {
      font-family: sans-serif;
      padding: 16px;
      border-radius: 5px;
      width: 200px;
      height: 200px;
      font-size: 15pt;
      background-color: white;
      border: 1px solid black;
      margin-right: 20px;
      // margin-bottom: 20px;
      float: left;
      display: block;
      text-transform: capitalize;
      white-space: initial;

      &>small {
        font-size: 8pt;
        display: block;
        margin-top: .5em;
      }

      &.black {
        display: block;
        background-color: black;
        color: white;
        float: left;
      }

      &:not(.black) {
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;
      }

      &:not(.black):hover, &.selected {
        background-color: #ddd;
      }

      &:last-of-type {
        margin-right: 0;
      }

    }

    &.my-cards {
      height: 255px;
      margin-bottom: 30px;
    }

    &.my-cards>.card {
      display: inline-block;
      vertical-align: middle;
      white-space: initial;
      margin-bottom: 0;
      float: none;
      margin-bottom: 5px;
    }

    &.my-cards>h1 {
      text-align: center;
      display: none;
      margin: 0;
      margin-top: -.14em;
      padding-top: calc((234px - .9em) / 2);
      padding-bottom: calc((234px - .9em) / 2);
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
      position: absolute;
      margin-left: -20px;
      width: 100vw;
    }

  }

  .players {
    // display: block;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;

    span.header {
      font-weight: bold;
    }

    div.player {
      display: block;

      span {
        display: inline;
        font-size: 14pt;
        margin: 0 .5em;
        white-space: pre;

        &.score {
          margin-left: 0;
          font-weight: bold;
        }

        &.me {
          // text-decoration: underline;
          font-weight: bold;
        }

      }

      fa-icon {
        display: inline;

        &.host {
            color: #f50;
        }

        &.user {
          padding: 0 0.2em;
          color: #333;
        }

        &.playing {
          color: #333;
        }

        &.check {
            color: #5f0;
        }

        &.gavel {
            color: #039be5;
        }

        &.flag {
            color: #333;
        }

      }


    }

  }

  .other {
    float: left;
  }

  button {
    padding: 10px;
    color: black;
    border: 1px solid black;
    border-radius: 2px;
    background-color: white;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
    font-size: 12pt;
    transition: background-color 0.1s ease-in-out;

    &:hover:not(:disabled) {
      background-color: #ebebeb;
    }

    &:disabled {
      cursor: not-allowed;
      color: #555;
    }

  }

  div.info {
    p {
      margin: 0.2em;

      &:first-of-type {
        margin-top: 1em;
      }
    }
  }

  hr {
    margin: 26px 0;
    margin-top: 10px;
    border: 0.5px solid #aaa;
  }

}
