<main>

  <div class="card-row">

    <div class="card black">
      You say tomato, I say _____.
    </div>

  </div>

  <div class="card-row my-cards">

    <div class="card">
      Land mines.
    </div>

    <div class="card">
      Harnesing the power of the atom to slaughter 200,000 Japanese people.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

    <div class="card">
      YEEET.
    </div>

  </div>

  <div class="players">
    <span class="header">Players:</span>
    <span class="done">chrome</span>
    <span class="done">aaaaa</span>
    <span class="done">bbbbbbb</span>
    <span class="done">ccccccccccccccccccc</span>
    <span class="done">ddd</span>
  </div>

  <div>
    <button>Select</button>
    <!-- TODO: view settings for players, open settings for game host -->
    <button (click)="open=!open">Open settings</button>
  </div>

  <app-in-game-settings *ngIf="open" [settings]="settings" (close)="closeSettings()"></app-in-game-settings>

</main>
