<main *ngIf="game">

  <div class="card-row">

    <div class="card black">
      {{ game.black.text }}
      <small>{{ game.black.pack }}</small>
    </div>

    <div class="played-cards">

      <div class="collection selected">
        <div class="card">Hello</div>
        <div class="card">There</div>
        <div class="card">aaaaaa</div>
      </div>

      <div class="collection">
        <div class="card">Hello</div>
        <div class="card">There</div>
        <div class="card">aaaaaa</div>
      </div>

      <div class="collection">
        <div class="card">Hello</div>
        <div class="card">There</div>
        <div class="card">aaaaaa</div>
      </div>

      <div class="collection">
        <div class="card">Hello</div>
        <div class="card">There</div>
        <div class="card">aaaaaa</div>
      </div>

    </div>

  </div>

  <div class="card-row my-cards">

    <div *ngFor="let card of game.hand" class="card">
      {{ card.text }}
      <small>{{ card.pack }}</small>
    </div>

  </div>

  <div class="players">

    <!-- <span class="header">Players:</span> -->

    <div *ngFor="let p of game.players" class="player">
      <fa-icon *ngIf="p.host" class="host" [icon]="['fas', 'crown']"></fa-icon>
      <fa-icon *ngIf="!p.host" class="user" [icon]="['fas', 'user']"></fa-icon>
      <span [class.czar]="p.id === game.czar">{{ p.username }}</span>
      <span class="score">{{ p.score }}</span>
      <fa-icon *ngIf="!p.done && p.id !== game.czar" class="playing" [icon]="['fas', 'clone']"></fa-icon>
      <fa-icon *ngIf="p.done" class="check" [icon]="['fas', 'check']"></fa-icon>
      <fa-icon *ngIf="p.id === game.czar" class="gavel" [icon]="['fas', 'gavel']"></fa-icon>
      <fa-icon *ngIf="p.score === game.winAt"class="flag" [icon]="['fas', 'flag-checkered']"></fa-icon>
    </div>

  </div>

  <div class="other">

    <div>
      <button>Select</button>
      <button (click)="open=!open">View settings</button>
    </div>

    <div class="info">
      <p *ngIf="game.black">Cards Selected: {{ game.picks.length }}/{{ game.black.pick }}</p>
      <p *ngIf="game.players.length < 3">Waiting for players to join: {{ game.players.length }}/3</p>
    </div>

  </div>

  <app-in-game-settings *ngIf="open" [game]="game" (close)="open=!open"></app-in-game-settings>

</main>
