main {

    padding: 20px;

    .card-row {
        width: 100%;
        height: 294px;
        overflow-x: auto;
        margin-bottom: 30px;

        .card {

            padding: 16px;
            border-radius: 5px;
            width: 200px;
            height: 260px;
            font-size: 16pt;
            background-color: white;
            border: 1px solid black;
            margin-right: 20px;
            // margin-bottom: 20px;
            float: left;
            display: block;

            &.black {
                display: block;
                background-color: black;
                color: white;
            }

            &:not(.black) {
                cursor: pointer;
                transition: background-color 0.1s ease-in-out;
            }

            &:not(.black):hover {
                background-color: #ebebeb;
            }

        }

        &.my-cards > .card {
            margin-bottom: 20px;
        }

    }

    button {
        padding: 10px;
        border: 1px solid black;
        border-radius: 2px;
        background-color: white;
        margin-right: 10px;
        outline: none;
        cursor: pointer;
        font-size: 12pt;
        transition: background-color 0.1s ease-in-out;

        &:hover {
            background-color: #ebebeb;
        }

    }

}
