main {
  max-width: 600px;
  padding: 10px;
  margin: auto;

  div.cards-info {
    display: inline-block;
    width: 100%;
    text-align: right;
    * {
      display: inline-block;
    }
    button {
      color: black;
    }
  }

  div.input-group {
    display: block;
    width: 100%;
    margin: 1rem 0;

    label {
      font-size: 16pt;
    }

    input, select {
      font-size: 16pt;
      margin-left: 1rem;
      border: none;
      border-bottom: 1px solid #000;
      outline: none;
      background-color: transparent;
      color: black;
    }

    button {
      display: inline-block;
      margin: 0;
      margin-left: 1rem;
      color: black;

      &.start-game {
        margin: auto;
        display: block;
      }

      &:disabled {
        cursor: not-allowed;
      }

    }

  }

  input.search {
    display: block;
    margin: auto;
    padding: 0;
    border: 1px solid #000;
    border-bottom: none;
    outline: none;
    padding: 1em;
    font-size: 16pt;
    width: calc(100% - 2em - 2px);
    background-color: #efefef;
    color: #000;

    &::placeholder {
      transition: color .15s ease-in-out;
    }

    &::placeholder:not(:focus) {
      color: #333;
      font-style: italic;
    }

    &:focus::placeholder {
      color: #666;
      font-style: italic;
    }

  }

  ul {
    list-style: none;
    padding: 0;
    width: calc(100% - 2px);
    margin: auto;
    border: 1px solid #000;
    max-height: 20vh;
    overflow-y: auto;

    li {
      display: block;
      padding: 0.5em 1em;
      cursor: pointer;
      color: #333;
      user-select: none;
      background-color: #fff;

      div {
        display: inline;
        color: #000;
        font-weight: normal;

        &::before {
          display: inline-block;
          margin-left: 1em;
          margin-right: 0.3em;
          content: '';
          background-color: #000;
          border: 1px solid #000;
          border-radius: 0.1em;
          height: 12pt;
          width: 8pt;
          transform: rotate(20deg);
        }

        &.white {

          &::before {
            background-color: #fff;
          }

        }

      }

      &:nth-of-type(2n) {
        background-color: #eee;
      }

      &.selected {
        font-weight: 600;
        background-color: #ddd;
        color: #000;
      }

      &.hidden {
        display: none;
      }

    }

  }

  span.cards {
    display: block;
    color: #000;
    font-weight: normal;
    font-size: 1rem;
    padding: 1rem 0;
    margin-top: 1em;

    &::before {
      display: inline-block;
      margin-left: 1em;
      margin-right: 0.3em;
      content: '';
      background-color: #000;
      border: 1px solid #000;
      border-radius: 0.1em;
      height: 12pt;
      width: 8pt;
      transform: rotate(20deg);
    }

    &.white {

      &::before {
        background-color: #fff;
      }

    }

    &:last-of-type {
        margin-right: 1em;
    }

  }

  button {
    border: none;
    background: none;
    padding: 1rem;
    outline: none;
    font-size: 1rem;
    display: block;
    margin: 1em 0;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: .125rem;

    &:hover:not(:disabled) {
      background-color: #eee;
      cursor: pointer;
    }

  }

}
