header {

  position: fixed;
  width: 100vw;
  background-color: #000;
  top: 0;

  h1 {
    color: #fff;
    padding: 0.2em 1em;
    outline: none;
    cursor: pointer;
    float: left;

    &.username {
      float: right;
      cursor: default;
    }

  }

  fa-icon {
    float: right;
    font-size: 2em;
    color: #fff;
    padding: 0.2em;
    cursor: pointer;
    margin: 0.67em 0;
    margin-right: .67em;
    transition: color .2s ease-in-out;

    &:hover {
      color: #ddd;
    }

  }

}

main {

  margin-top: 120px;

}
