header {

  position: fixed;
  width: 100vw;
  background-color: #000;
  top: 0;

  h1 {
    color: #fff;
    padding: 0.2em 1em;
    outline: none;
    cursor: pointer;
    float: left;

    &.username {
      float: right;
      cursor: default;
    }

  }

}

main {

  margin-top: 120px;

}
