div {

    &.background {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.3);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .container {
        position: relative;
        background-color: white;
        margin-top: 5vh;
        margin-left: 5vw;
        width: calc(90vw - 60px);
        height: calc(90vh - 60px);
        padding: 30px;
        overflow-y: auto;


        .row {
            font-size: 14pt;
            padding: 1em 0;
            border-bottom: 1px solid #666;

            .property {
                font-weight: bold;
                margin-right: 1em;
            }

            .description {
                margin-left: 1em;
                font-style: italic;
                color: #555;
            }

            &:last-of-type {
                margin-bottom: 1em;
                border-bottom: none;
            }

            label.switch {

                display: inline-block;
                cursor: pointer;

                &:before {
                    height: 16pt;
                    width: 28pt;
                    background-color: #9e9e9e;
                    border-radius: 7pt;
                    display: block;
                    content: '';
                    transition: background-color 0.15s ease-in-out;
                }

                &:after {
                    height: 10pt;
                    width: 10pt;
                    border-radius: 8pt;
                    display: block;
                    content: '';
                    background-color: #fff;
                    margin-top: -13pt;
                    margin-left: 3pt;
                    transition: margin-left 0.15s ease-in-out;
                }

            }

            input[type=checkbox] {
                display: none;
            }

            input[type=checkbox]:checked + label.switch:before {
                background-color: #42a5f5;
            }

            input[type=checkbox]:checked + label.switch:after {
                margin-left: 15pt;
            }

            input[type=number] {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid black;
                outline: none;
                box-sizing: border-box;
                width: min-content;
                display: inline-block;
            }


        }

        button {
            padding: 10px;
            border: 1px solid black;
            border-radius: 2px;
            background-color: white;
            margin-right: 10px;
            outline: none;
            cursor: pointer;
            font-size: 12pt;
            transition: background-color 0.15s ease-in-out;

            &:hover {
                background-color: #ebebeb;
            }

        }


    }

}
