<div class="background">

  <div class="container">

    <h1>Settings</h1>

    <div *ngFor="let s of settings" class="row">

      <ng-template [ngIf]="s.type==='Boolean'">
          <span class="property">{{ s.prettyName }}</span>
          <input (change)="s.set(!s.get())" type="checkbox" [checked]="s.get()" id="{{ s.name }}">
          <label for="{{ s.name }}" class="switch"></label>
          <span *ngIf="s.description" class="description">{{ s.description }}</span>
      </ng-template>

      <ng-template [ngIf]="s.type==='Number'">
          <span class="property">{{ s.prettyName }}</span>
          <input (change)="s.set($event.srcElement.valueAsNumber)" type="number" step="0.2" [value]="s.get()">
          <span *ngIf="s.description" class="description">{{ s.description }}</span>
      </ng-template>

      <ng-template [ngIf]="s.type==='String'">
          <span class="property">{{ s.prettyName }}</span>
          <input (change)="s.set($event.srcElement.value)" type="text" [value]="s.get()">
          <span *ngIf="s.description" class="description">{{ s.description }}</span>
      </ng-template>

    </div>

    <button (click)="closeSettings()">Close</button>

  </div>

</div>
