<div class="background">

  <div class="container">

    <h1>Game Settings</h1>

    <div class="row">
      <span class="property">Game ID:</span>
      <span class="value">{{ game.gid }}</span>
    </div>

    <div class="row">
      <span class="property">Packs:</span>
      <span class="value">{{ game.settings.packs.join(', ') }}</span>
    </div>

    <div class="row">
      <span class="property">Timeout:</span>
      <span class="value">{{ formatTime() }}</span>
    </div>

    <div class="row">
      <span class="property">Max players:</span>
      <span class="value">{{ game.settings.maxPlayers }}</span>
    </div>

    <div class="row">
      <span class="property">Max score:</span>
      <span class="value">{{ game.settings.maxScore }}</span>
    </div>

    <button (click)="closeSettings()">Close</button>

  </div>

</div>
