div {

    &.background {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.3);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .container {
        position: relative;
        background-color: white;
        margin-top: 5vh;
        margin-left: 5vw;
        width: calc(90vw - 60px);
        height: calc(90vh - 60px);
        padding: 30px;
        overflow-y: auto;


        .row {
            font-size: 14pt;
            padding: 1em 0;
            border-bottom: 1px solid #666;

            span {
                margin-right: 1em;
            }

            .property {
                font-weight: bold;
                user-select: none;
            }

            .extra {
                color: #666;
                font-style: italic;
            }

            .clickable {
                cursor: pointer;
                user-select: none;
            }

            .noselect {
                user-select: none;
            }

            &:last-of-type {
                margin-bottom: 1em;
                border-bottom: none;
            }

        }

        button {
            padding: 10px;
            border: 1px solid black;
            border-radius: 2px;
            background-color: white;
            margin-right: 10px;
            outline: none;
            cursor: pointer;
            font-size: 12pt;
            transition: background-color 0.1s ease-in-out;

            &:hover {
                background-color: #ebebeb;
            }

        }


    }

}